.userEmail {
    position: absolute;
    right: 2%;
    top: 0%;
    font-style: italic;
    font-size: 1.1em;
}

.centeredInput {
    width: 75%;
    height: 75%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.accountDiv {
    margin-top: 10%;
}

.infoTitle {
    font-size: 20px;
}

.emailLabel {
    padding-right: 104px;
    padding-bottom: 8px;
}







a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}
.hidden {
    display: none;
}
.end {
    float:right;
    display:block;
    margin-right:0px;
    clear:left;
    border: none;
    background: white;
    font-size: 15px;
    cursor: pointer;
}

.nav_button {
    cursor: pointer;
    color: black;
    border: none;
    background: white;
    font-size: 1em;
    text-decoration: underline;
}

.nav_box {
    display: -webkit-box;
    position: absolute;
    left: 31%;
}
.score_button {
    border: none;
    color: white;
    padding: 1% 5%;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid black;
}
.outliner {

}
.good_button {
    /*margin-left: 25%;*/
    background-color: #008CBA;
}

.good_button_dark {
    background-color: #37479e;
}

.bad_button {
    background-color: #ba004c;
    /*margin-left: 1%;*/
}
.bad_button_dark {
    background-color: #79304a;
}
.unclear_button {
    background-color: darkgrey;
}
.unclear_button_dark {
    background-color: #585555;
}
.logoutButton {
    margin-top: 2px;
    margin-left: 5px;
    padding-bottom: 2px;
}
.endMsg {
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    font-style: italic;
}

.instructions {
    text-align: center;
    font-size: 1em;
}

.viewer {
    width: fit-content;
    padding: 10px;

    width:810vw;
    height:80vh;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.variantImgBad {
    border: 5px solid #ba004c !important;
}
.variantImgGood {
    border: 5px solid #008CBA !important;
}

.variantImgInside{
    border: 2px solid black;
    max-height: 50%;
    max-width: 50%;
}

.button_box {
    width: 50%;
    padding: 10px;
    margin: auto;
}

.variantImg {
    width: fit-content;
    border: 2px solid black;
    margin: 0 auto;
}

.right_button_box {
    margin-left: 50%;
}
.disclaimer {
    font-size: .8em;
}