a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

th {
    border-bottom: 2px solid #ddd !important;
}


.userEmail {
    position: absolute;
    right: 2%;
    top: 0%;
    font-style: italic;
    font-size: 1.1em;
}

.emailLabel {
    padding-right: 104px;
    padding-bottom: 8px;
}

.centeredInput {
    width: 75%;
    height: 75%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logoutButton {
    margin-top: 2px;
    margin-left: 5px;
    padding-bottom: 2px;
}

.viewer {
    width: fit-content;
    padding: 10px;

    width:810vw;
    height:80vh;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}


.disclaimer {
    font-size: .8em;
}

.infoTitle {
    font-size: 20px;
}