<!DOCTYPE html>
<html lang="en-US">
  <head >
    <meta charset="utf-8">
    <title >PlotCritic</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/aws-cognito-sdk.min.js" > </script>
	<script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/amazon-cognito-identity.min.js"> </script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.92.0.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="../style/account.css">
	<script src="../js/env.js"></script>
  </head>

<body>

	<div ng-app="svApp" ng-controller="svCtrl">
	 	<div class="centeredInput" ng-hide="authenticated">
			<form ng-submit="submit()">
				<p class="infoTitle">Sign In: </p>
				<label for="email" class="emailLabel">User email</label>
			 	<input type="email" ng-model="email" name="email" required/>
			 	<br>
			 	<label for="pass">Password <span style="font-size: 10px;"> (or confirmation code)</span></label>
			 	<input type="password" ng-model="password" name="pass" required/>
			 	<br>
			 	<input type="submit" id="submit" value="Submit"/>
			</form>
			<p class='disclaimer'>Your email address will not be used to send unsolicited messages.</p>
		</div>
		
		
		<div class="userEmail" ng-show="authenticated">
			<p>{{email}}</p>
			<p>Project: {{project}}</p>
		</div>
		
		<div ng-show="authenticated" class=main_frame>
			<button class="logout_button" ng-click=reload()>Log out</button>

			<div class="centeredInput">
        		<div class="ownAccount accountDiv">
            		<p class="infoTitle">Your Account Information:</p>
            		<div class='accountInfoField'>
            			<p class="accountInfoFieldTitle">Email: </p> <p>{{ email}} </p>
            		</div>
            		<div class='accountInfoField'>
            			<p class="accountInfoFieldTitle">Password: </p> <button ng-click="changingPassword=true">Change Password</button>
            		</div>
        			<form ng-submit=changePassword() ng-show=changingPassword>
						<p class="infoTitle">New Password </p>
						<label for="newpass" class="newPasswordLabel1">Type new password:</label>
					 	<input type="password" ng-model="newPassword1" name="newpass" required/>
					 	<br>
					 	<label for="newpassagain" class="newPasswordLabel2">Re-type new password:</label>
					 	<input type="password" ng-model="newPassword2" name="newpassagain" required/>
					 	<br>
					 	<input type="submit" id="submit" class="changePasswordBtn" value="Submit changed password"/>					 	
					</form>
					<button ng-click="changingPassword=false" class="cancelBtn" ng-show=changingPassword>Cancel</button>

            		
        		</div>

        		<div class="addUsers accountDiv">            		
            		<form  ng-submit=addUsers()>
            			<p class="infoTitle">Add new users by email address:</p>
            			<div class="addUsersFormSection" ng-repeat="field in newUserEmails track by $index"> 
            				<label>New user email:</label>
            				<input type="email" ng-model="newUserEmails[$index]" class="addUserInput"/>          				
            			</div>
						<input type="submit" id="submit" class="changePasswordBtn" value="Add these users">									
					</form>
					<button ng-click="addNewField()" class="addFieldBtn">+Add space</button>
        		</div>

        		<div class="addedUsers">
        			<div ng-repeat="newUser in newUsers track by $index"> 
            			<p class="newUserInfo">{{newUsers[$index]}} </p>				
            		</div>
        		</div>

        		<div class="deleteAccount accountDiv">
        			<p class="infoTitle">Delete your account:</p>
        			<button ng-click="deletingAccount=true">Delete account</button>
        			<form class="deleteAccountForm" ng-submit=deleteAccount() ng-show=deletingAccount>
						<p>Enter password to delete account. THIS CANNOT BE UNDONE</p>
						<label for="deletepass" class="newPasswordLabel1">Type password:</label>
					 	<input type="password" ng-model="deleteAccountPassword" name="deletepass" required/>					 	
					 	<input type="submit" id="submit" class="deleteAccountBtn" value="Submit"/>					 	
					</form>
					<button ng-click="deletingAccount=false" class="cancelBtn" ng-show=deletingAccount>Cancel</button>
        		</div>
    		</div>			
		</div>
	</div>
	<script src="../js/account.js"></script>
</body>
</html