<!DOCTYPE html>
<html lang="en-US">
  <head >
    <meta charset="utf-8">
    <title >PlotCritic</title>
    <style type="text/css">
    	.welcome {
		    margin-top: 5%;
    	}
    	.header {
		    font-size: 32px;
		    margin: 0 auto;
    	}
    	.subheader {
    		font-size: 18px;
    		margin: 0 auto;
    	}
    	.wrapper {
		  text-align: center;
		}
		.links {
		  display: inline-block;
		}
    	a {
		    font-size: 22px;
		    margin: 5px 15px 5px 15px;
		    color: black;
    	}
    </style>
</head>


<body>
	<div class="wrapper">
		<div class="links">
			<a href="views/plotcritic.html">Score Images</a>
			<a href="views/account.html">Manage Account</a>
			<a href="views/report.html">View Report</a>
		</div>
		<div class="welcome">
			<p class=header>Welcome to PlotCritic!</p>
			<p class=subheader>Choose an option above to sign in and continue.</p>
		</div>
	</div>


</body>
</html>
