<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>PlotCritic Web Report</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/aws-cognito-sdk.min.js" > </script>
	<script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/amazon-cognito-identity.min.js"> </script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.92.0.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="../style/report.css">
	<script src="../js/env.js"></script>

  </head>

<body>
	<div class="wrapper"> 
		<div class="links">
			<a href="plotcritic.html">Score Images</a>
			<a href="account.html">Manage Account</a>
			<a href="report.html">View Report</a>
		</div>
	</div>

	<div ng-app="svApp" ng-controller="svCtrl">
	 	<div class="centeredInput" ng-hide="authenticated">
			<form ng-submit="submit()">
				<p class="infoTitle">Sign In: </p>
				<label for="email" class="emailLabel">User email</label>
			 	<input type="email" ng-model="email" name="email" required/>
			 	<br>
			 	<label for="pass">Password <span style="font-size: 10px;"> (or confirmation code)</span></label>
			 	<input type="password" ng-model="password" name="pass" required/>
			 	<br>
			 	<input type="submit" id="submit" value="Submit"/>
			</form>
			<p class='disclaimer'>Your email address will not be used to send unsolicited messages.</p>
		</div>
		
		
		<div class="userEmail" ng-show="hide">
			<p>{{email}}</p>
		</div>
		
		<div ng-show="hide" class=main_frame>
			<button class="logoutButton" ng-click=reload()>Log out</button>
			<div class="viewer" >
				<p>Results for project `{{project}}`. Use script `retrieval.py` to download data.</p>
				<table class="table table-bordered">
					<tr>
			        <th>
			        	<a href="#" ng-click="orderByField=header[1]; reverseSort = !reverseSort">{{ header[1] }}<span ng-show="orderByField == header[1]"><span ng-show="!reverseSort"> ^ </span><span ng-show="reverseSort"> v </span></span>
			        	</a>
			        </th>
			        <th>
			        	<a href="#" ng-click="orderByField=header[2]; reverseSort = !reverseSort">{{ header[2] }}<span ng-show="orderByField == header[2]"><span ng-show="!reverseSort"> ^ </span><span ng-show="reverseSort"> v </span></span>
			        	</a>
			        </th>
			        <th>
			        	<a href="#" ng-click="orderByField=header[3]; reverseSort = !reverseSort">{{ header[3] }}<span ng-show="orderByField == header[3]"><span ng-show="!reverseSort"> ^ </span><span ng-show="reverseSort"> v </span></span>
			        	</a>
			        </th>
			        <th>
			        	<a href="#" ng-click="orderByField=header[4]; reverseSort = !reverseSort">{{ (header[4]).replace("_", " ") }}<span ng-show="orderByField == header[4]"><span ng-show="!reverseSort"> ^ </span><span ng-show="reverseSort"> v </span></span>
			        	</a>
			        </th>
			        <th>
			        	<a href="#" ng-click="orderByField=header[5]; reverseSort = !reverseSort">{{ (header[5]).replace("_", " ") }}<span ng-show="orderByField == header[5]"><span ng-show="!reverseSort"> ^ </span><span ng-show="reverseSort"> v </span></span>
			        	</a>
			        </th>
			        <th>
			        	<a href="#" ng-click="orderByField=header[6]; reverseSort = !reverseSort">{{ (header[6]).replace("_", " ")}}<span ng-show="orderByField == header[6]"><span ng-show="!reverseSort"> ^ </span><span ng-show="reverseSort"> v </span></span>
			        	</a>
			        </th>
			         <th>
			        	<a href="#" ng-click="orderByField=header[7]; reverseSort = !reverseSort">{{ (header[7]).replace("_", " ") }}<span ng-show="orderByField == header[7]"><span ng-show="!reverseSort"> ^ </span><span ng-show="reverseSort"> v </span></span>
			        	</a>
			        </th>


					</tr>
					<tr ng-repeat="record in records|orderBy:orderByField:reverseSort">
					    <td>{{ record['Chrom'] }}</td>
					    <td>{{ record['Start'] }}</td>
					    <td>{{ record['End'] }}</td>
					    <td>{{ record['s'].toFixed(1) }}%</td>
					    <td>{{ record['n'].toFixed(1) }}%</td>
					    <td>{{ record['d'].toFixed(1) }}%</td>
					    <td>{{ record['Total_Scores'] }}</td>
				  </tr>
				</table>

			</div>
		</div>
	</div>
	<script src="../js/report.js"></script>
</body>
</html